<div class="component">
  <div class="card text-center">
    <div class="card-header" role="tabpanel">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
          <a class="nav-link faction-nav-link active" id="japanFaction" href="#japan" aria-controls="japan" role="tab" data-toggle="tab">The Ishimatsu
            Clan</a>
        </li>
        <li role="presentation" class="nav-item">
          <a class="nav-link faction-nav-link" id="knightFaction" href="#knight" aria-controls="knight" role="tab" data-toggle="tab">The Kingdom of
            Beschützer</a>
        </li>
        <li role="presentation" class="nav-item">
          <a class="nav-link faction-nav-link" id="vikingFaction" href="#viking" aria-controls="viking" role="tab" data-toggle="tab">The Skallen
            Raiders</a>
        </li>
        <li role="presentation" class="nav-item">
          <a class="nav-link faction-nav-link" id="greekFaction" href="#greek" aria-controls="greek" role="tab" data-toggle="tab">The Chrysós
            Syndicate</a>
        </li>
        <li role="presentation" class="nav-item">
          <a class="nav-link faction-nav-link" id="mongolFaction" href="#mongol" aria-controls="mongol" role="tab" data-toggle="tab">The Khünik Horde</a>
        </li>
        <li role="presentation" class="nav-item">
          <a class="nav-link faction-nav-link" id="aztekFaction" href="#aztek" aria-controls="aztek" role="tab" data-toggle="tab">The Equani Tribe</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="japan">
          <div class="card">
            <hr class="home-line">
            <h2 class="card-title">
              The Ishimatsu Clan
            </h2>
            <hr class="home-line">
            <img class="card-img-top" style="margin: auto; max-width: 50%;"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">TODO: text about the group</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>
                  Play Style:
                </h5>
                <p>
                  Well-Rounded
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Cultural Perks:
                </h5>
                <p>
                  Unyielding Will: All 1’s are rerolled in combat regardless of whether the Ishimatsu Clan is attacking
                  or defending
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Special Unit: Ishimatsu Daimyo
                </h5>
                <p>
                  A single specialty unit that when placed on a territory increases the range of its prosperity by one
                  in both directions, not including the original prosperity number. In this way resources become easier
                  to gather in that specific territory. For example, if placed on a prosperity 7 token the daimyo will
                  allow that territory to gather resources on 6’s and 8’s. In all other respects the Daimyo behaves as a
                  regular Ishimatsu unit.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="knight">
          <div class="card">
            <hr class="home-line">
            <h2 class="card-title">
              The Kingdom of Beschützer
            </h2>
            <hr class="home-line">
            <img class="card-img-top" style="margin: auto; max-width: 50%;"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">TODO: text about the group</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>
                  Play Style:
                </h5>
                <p>
                  Defensive
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Cultural Perks:
                </h5>
                <p>
                  Protector of the People: When occupying a territory with an unbuilt wall the Kingdom of Beschützer can
                  build completed wooden walls at no cost during their construction phase
                </p>
                <p>
                  Experienced Masons: Stone walls cost half as much
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Special Unit: Beschützer Knights
                </h5>
                <p>
                  Each Beschützer knight present in a defending army adds one specialty die (up to two) to each clash
                  within the battle. The knights cannot be destroyed by an enemy die unless all other basic defending
                  units have been killed. For every basic defensive die you may also roll a specialty knight die unless
                  you only have a single unit left in which case two knight die can be used with only one basic defense
                  die. The special knight die can be swapped for any regular die to the purpose of aiding the defender.
                  Losses only result in the death of basic units and not knights unless all basic units have already
                  been killed.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="viking">
          <div class="card">
            <hr class="home-line">
            <h2 class="card-title">
              The Skallen Raiders
            </h2>
            <hr class="home-line">
            <img class="card-img-top" style="margin: auto; max-width: 50%;"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">TODO: text about the group</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>
                  Play Style:
                </h5>
                <p>
                  Offensive
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Cultural Perks:
                </h5>
                <p>
                  Pillage & Plunder: after destroying an enemy village the Skallen raiders receive twice that villages
                  gold income immediately as loot and all the resources required to construct it (4gold). The same goes
                  for cities (8gold) and metropolises (12gold)
                </p>
                <p>
                  Relentless Raiders: When attacking garrisons the Skallen raiders force the enemy to reroll all 6’s
                </p>
                <p>
                  Supply Sappers: For every territory that is taken from an enemy player the Skallen raiders may steal
                  one random resource from that players hand
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Special Unit: Skallen Gjallarhorns
                </h5>
                <p>
                  Once per offensive clash (even if there is more than one Gjallarhorn present) the Skallen Gjallarhorn
                  can attempt to inspire their allies by selecting and rerolling one allied die. Besides this perk they
                  behave as basic units within combat.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="greek">
          <div class="card">
            <hr class="home-line">
            <h2 class="card-title">
              The Chrysós Syndicate:
            </h2>
            <hr class="home-line">
            <img class="card-img-top" style="margin: auto; max-width: 50%;"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">TODO: text about the group</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>
                  Play Style:
                </h5>
                <p>
                  Diplomatic
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Cultural Perks:
                </h5>
                <p>
                  Masters of the Sea: The Chrysós Syndicate can always utilize water routes regardless of chaos events
                </p>
                <p>
                  Trade Networks: For the Chrysós Syndicate resources can be purchased for three gold as opposed to
                  four. Units can also be purchased for seven gold as opposed to eight
                </p>
                <p>
                  Boundless Profit: The Chrysós Syndicate can trade with any player even if not connected via adjacent
                  territories
                </p>
              </li>
              <li class="list-group-item">
                <h5>
                  Special Unit: Chrysós Naval Fleets
                </h5>
                <p>
                  Chrysós naval fleets can be purchased and placed on any water route. Naval fleets are composed of four
                  individual ships that behave in combat as mobile ‘stone walls’ (All four dice are rolled and the boats
                  ALWAYS win ties). To replenish a naval fleet a new fleet must be constructed in its place. A single
                  fleet can be moved to another water route every turn and can only be constructed if the Chrysós
                  Syndicate controls a territory connected to the sea (not a lake). Only four Chrysós naval fleets can
                  be on the map at a time. The Chrysós Syndicate can allow enemy units to pass through these naval
                  fleets and barter for the price of that ability for their own benefit
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="mongol">
          <div class="card">
            <hr class="home-line">
            <h2 class="card-title">
              The Khünik Horde
            </h2>
            <hr class="home-line">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aztek">
          <div class="card">
            <hr class="home-line">
            <h2 class="card-title">
              The Equani Tribe
            </h2>
            <hr class="home-line">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>