<div class="component">
    <div class="">
        <hr class="home-line">
        <h2>
            The Offical rulebook of
        </h2>
        <hr class="home-line">
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Context :)</h5>
            <div class="card-body">
                <p class="card-text"> In the game of Imperium you will play as one of six factions vying for domination
                    over a frontier of
                    massive
                    islands known together as the continent of “Trӧm”. Trӧm has for 100’s of years been a site of trade
                    and
                    prosperity for the six factions of the land, but shortages in resources and the increased volatility
                    of
                    the
                    natural world has put the factions at each other's throats. The peaceful coexistence they once knew
                    melts
                    away as they push to acquire scarce resources and ensure the survival of their faction. Take
                    leadership
                    of
                    your chosen faction and utilize their unique position and cultural affinities to crush, starve, and
                    out-smart your enemies in the battle for total imperium over the chaotic land of Trӧm.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Table of Context</h5>
            <div class="card-body">
                <div style="padding-left: 10%">
                    <h2>
                        Getting Started
                    </h2>
                    <ol>
                        <li>Game Context</li>
                        <li>Pieces Needed for the Game</li>
                        <li>Setting up the Game</li>
                        <li>Player Action Order</li>
                        <li>World Order Process</li>
                    </ol>
                    <h2>
                        Factions
                    </h2>
                    <ol>
                        <li>The Ishimatsu Clan</li>
                        <li>The Kingdom of Beschützer</li>
                        <li>The Skallen Raiders</li>
                        <li>The Chrysós Syndicate</li>
                        <li>The Khünik Horde</li>
                        <li>The Equani Tribe</li>
                    </ol>
                    <h2>
                        Gameplay Mechanics
                    </h2>
                    <ol>
                        <li>Resource Gathering</li>
                        <li>Gold</li>
                        <li>Rules of Construction</li>
                        <li>Temples</li>
                        <li>Trade</li>
                        <li>Combat</li>
                        <li>Walls</li>
                        <li>The Fallen</li>
                        <li>Construction Costs</li>
                    </ol>
                    <h2>
                        Chaos Rolls
                    </h2>
                    <ol>
                        <li>Chaos Rolls</li>
                        <li>Age of Shadow Chaos Rolls</li>
                        <li>Age of Oblivion Chaos Rolls</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="card">
            <h5 class="card-header">Pieces Needed for the Game:</h5>
            <div class="card-body">
                <h5 class="card-title">TODO</h5>
                <div id="accordion">
                    <h2>
                        Pieces Needed for the Game:
                    </h2>

                    <div class="card">
                        <div class="card-header collapsed" id="headingGameBoard" data-toggle="collapse"
                            data-target="#collapseGameBoard" aria-expanded="false" aria-controls="collapseGameBoard">
                            <h5 class="mb-0">
                                Imperium Game Board
                            </h5>
                        </div>
                        <div id="collapseGameBoard" class="collapse" aria-labelledby="headingGameBoard"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">TODO:INFO ABOUT THE MAP</h5>
                                                <a href="#" class="btn btn-primary">LINK TO MAP PAGE</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class="card-img-top" style="margin: auto" src="/assets/Images/testmap_v1.svg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header collapsed" id="headingCopperCoins" data-toggle="collapse"
                            data-target="#collapseCopperCoins" aria-expanded="false"
                            aria-controls="collapseCopperCoins">
                            <h5 class="mb-0">
                                Copper Coins
                            </h5>
                        </div>
                        <div id="collapseCopperCoins" class="collapse" aria-labelledby="headingCopperCoins"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div>Value of 1</div>
                                TODO: IMAGE OF COPPER COINS
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header collapsed" id="headingSilverCoins" data-toggle="collapse"
                            data-target="#collapseSilverCoins" aria-expanded="false"
                            aria-controls="collapseSilverCoins">
                            <h5 class="mb-0">
                                Silver Coins
                            </h5>
                        </div>
                        <div id="collapseSilverCoins" class="collapse" aria-labelledby="headingSilverCoins"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div>Value of 4</div>
                                TODO: IMAGE OF Silver COINS
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header collapsed" id="headingGoldCoins" data-toggle="collapse"
                            data-target="#collapseGoldCoins" aria-expanded="false" aria-controls="collapseGoldCoins">
                            <h5 class="mb-0">
                                Gold Coins
                            </h5>
                        </div>
                        <div id="collapseGoldCoins" class="collapse" aria-labelledby="headingGoldCoins"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div>Value of 8</div>
                                TODO: IMAGE OF Gold COINS
                            </div>
                        </div>
                    </div>



                    <div class="card">
                        <div class="card-header" id="headingProsperityToken" data-toggle="collapse"
                            data-target="#collapseProsperityToken" aria-expanded="true"
                            aria-controls="collapseProsperityToken">
                            <h5 class="mb-0 d-inline">
                                Prosperity Tokens:
                            </h5>
                            <!-- <a href="#" data-target="[data-parent='#child1']" data-toggle="collapse"
                                class="my-2 float-right">close all</a> -->
                        </div>

                        <div id="collapseProsperityToken" class="collapse" aria-labelledby="headingProsperityToken"
                            data-parent="#accordion">
                            <h2>TODO : find a better way to display, testing multi accordion</h2>
                            <div class="card-body" id="child1">
                                <div class="card">
                                    <div class="card-header" data-toggle="collapse"
                                        data-target="#collapseProsperityTokenA">
                                        2’s
                                    </div>
                                    <div class="card-body collapse" data-parent="#child1" id="collapseProsperityTokenA">
                                        TODO: IMAGE OF BOARD - LINK TO MAP PAGE
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" data-toggle="collapse"
                                        data-target="#collapseProsperityTokenB">
                                        3’s
                                    </div>
                                    <div class="card-body collapse" data-parent="#child1" id="collapseProsperityTokenB">
                                        Another flipp runch wolf moon tempor, sunt aliqua put a bird.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header collapsed" id="headingThree" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5 class="mb-0">
                                Temple Structures
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                TODO: IMAGE OF Gold COINS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Setting Up the Game</h5>
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">STEP 1:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> All players roll two six sided dice. The player with the highest roll is
                            allowed
                            to choose their faction first and the player with the next highest roll chooses second and
                            so on
                            and
                            so forth (for a look at each faction refer to pages 6-8).</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">STEP 2:</h5>
                    <div class="card-text-section">

                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">STEP 3:</h5>
                    <div class="card-text-section">

                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">STEP 4:</h5>
                    <div class="card-text-section">

                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">STEP 5:</h5>
                    <div class="card-text-section">

                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Player Action Order</h5>
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">Action 1:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> Take gold income</p>
                        <p class="card-text"> View Take Gold Section (TODO: POSSIBLE JUST DROP DOWN THE RULES HERE)</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 2:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 3:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 4:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 5:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 6:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 7:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 8:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 9:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">Action 10:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TODO:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h5 class="card-header">World Order Process</h5>
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">STEP 1:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> Four six sided dice will be rolled to determine “The Chaos of Trӧm” (an
                            event that will occur before the next turn cycle begins, but does not occur before the first
                            turn cycle). Once the chaos event has been determined, but before it occurs, players who
                            participated in betting during the “bet faith” phase of turn order will reveal their bet to
                            the other players. The player with the highest bet must then choose to alter the number of
                            the chaos roll by one in either direction. Both options will be made clear to the player and
                            once the winning player has chosen the chaos event will occur (All faith bet during the
                            process is discarded regardless of the outcome). </p>
                    </div>
                </div>
                <div class="card-section">
                    <h5 class="card-title">STEP 2:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> After the chaos event occurs the player turn order will be determined for
                            the cycle. The player with the most units on the board will go first, and so on and so
                            forth. The number of units on the board will be determined only after the turn cycle has
                            ended, so turn order cannot be altered in the middle of a turn cycle. As usual, players may
                            also reveal and compare any wagered faith to determine turn order, which would take
                            precedence over the player with the most units</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Factions</h5>
            <div class="card-body">
                <div class="card-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">The Ishimatsu Clan</h5>
                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a routerLink="/factions"fragment="japan"  class="btn btn-primary">TODO: lINK TO FACTION PAGE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">The Kingdom of Beschützer</h5>
                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a routerLink="/factions" fragment="knight" class="btn btn-primary">TODO: lINK TO FACTION PAGE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">The Skallen Raiders:</h5>
                                <div class="card-body">
                                    <div class="card-section">
                                        <h5 class="card-title">Play-Style: Offensive</h5>
                                        <h5 class="card-title">Cultural Perks:</h5>
                                        <div class="card-text-section">
                                            <p class="card-text"> Pillage & Plunder </p>
                                            <p class="card-text"> Relentless Raiders </p>
                                            <p class="card-text"> Supply Sappers </p>
                                        </div>
                                        <h5 class="card-title">Special Unit: Skallen Gjallarhorns</h5>
                                    </div>
                                    <a routerLink="/factions" fragment="viking" class="btn btn-primary">TODO: lINK TO FACTION PAGE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">Special title treatment</h5>
                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a routerLink="/factions" fragment="greek" class="btn btn-primary">TODO: lINK TO FACTION PAGE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">The Khünik Horde</h5>
                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a routerLink="/factions" fragment="mongol" class="btn btn-primary">TODO: lINK TO FACTION PAGE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">The Equani Tribe</h5>
                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a routerLink="/factions" fragment="aztek" class="btn btn-primary">TODO: lINK TO FACTION PAGE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">TMEP</h5>
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">TMEP:</h5>
                    <div class="card-text-section">
                        <p class="card-text"> TMEP </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>