.rule-book .row{
    margin-left: 0px;
    margin-right: 0px;
}

.card-text-section {
    padding-left: 15px;
}

.card-section {
    padding-bottom: 15px;
}

ol {
    padding-left: 10%;
}

.sidenav {
    flex: 0 1 320px;
    position: sticky;
    top: 5rem;
    z-index: 1000;
    overflow: overlay;
    height: calc(100vh - 5rem);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.sidenav-list {
    font-weight: 500;
    color: rgba(0, 0, 0, .65);
}

a {
    display: block;
    padding: 0.25rem 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
}
.sidenav h5{
    display: block;
    padding: 0.25rem 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.container{
    scroll-margin-top: 5rem;
}

@media (max-width: 991.98px) { 
    .sidenav {
        display:none;
    }
}