<div class="component">
    <div class="hero">
        <div class="hero-col hero-title">
            <hr class="hero-line">
            <h2>
                The Offical rulebook of
            </h2>
            <h1>
                {{title}}
            </h1>
            <h4>
                &mdash; The Division of Trom &mdash;
            </h4>
            <hr class="hero-line">
        </div>
    </div>
</div>

<div class="component">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">TMEP:</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="card-img-top" style="margin: auto;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                        </div>
                        <div class="col-sm-6">
                            <div class="card-text-section">
                                <p class="card-text"> Yuccie vibecession grailed narwhal gochujang tacos, vexillologist
                                    chartreuse cupping seitan. Hell of iceland iPhone try-hard tattooed yes plz vegan
                                    authentic cray meh tousled neutra edison bulb. Ramps live-edge single-origin coffee
                                    sus lumbersexual actually fashion axe waistcoat forage bitters. Whatever fam
                                    kickstarter man braid lomo gatekeep occupy edison bulb yr tousled mlkshk. Fanny pack
                                    polaroid ascot drinking vinegar yuccie trust fund. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">TMEP:</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="card-img-top" style="margin: auto;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                        </div>
                        <div class="col-sm-4">
                            <div class="card-text-section">
                                <p class="card-text"> +1 cronut synth 8-bit actually jawn vegan meggings health goth
                                    beard. Pickled quinoa williamsburg artisan pour-over kitsch kale chips bruh before
                                    they sold out tonx gentrify. Chicharrones poutine grailed knausgaard aesthetic
                                    actually DSA. Beard fam photo booth raclette bicycle rights pinterest jianbing
                                    skateboard sustainable. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img class="card-img-top" style="margin: auto;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-section">
                    <h5 class="card-title">TMEP:</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card-text-section">
                                <p class="card-text"> I'm baby shoreditch heirloom hell of copper mug. Ramps lomo
                                    raclette street art keytar vinyl DSA farm-to-table wayfarers lumbersexual austin
                                    pork belly. Cardigan JOMO ascot bruh crucifix. Microdosing typewriter narwhal
                                    taxidermy forage. Heirloom DSA whatever, 3 wolf moon pour-over artisan marfa
                                    hella typewriter fanny pack cronut literally. Mixtape vaporware tacos af you
                                    probably haven't heard of them cronut solarpunk sartorial copper mug. Viral
                                    crucifix cloud bread vegan, blackbird spyplane celiac pork belly kombucha air
                                    plant. </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img class="card-img-top" style="margin: auto;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18701b1398b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18701b1398b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.12312316894531%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>