.hero-line{
    background-color: black;
}

.hero-col{
    text-align: center;
    color: black;
}

.hero {
    position: relative; 
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url("/assets/Images/testmap_v1.svg");
      filter: drop-shadow(8px 8px 10px black) grayscale(1);
      background-size: cover;
      position: absolute;
      background-position-y: center;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.15;
}
